.about-img{
    height: 100%;
    width: 100%;
}

.about-title{
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}

.content-box{
    padding: 18px 10px;
    border-bottom: 1px solid #eeeeee;
}

.about-content .content-box:last-child{
    border-bottom: none;
}

.left-box{
    display: inline-block;
    width: 20px;
    font-size: 30px;
    font-family: PingFangSC-Semibold;
    color: #beb6b6;
    line-height: 30px;
    float: left;
}

.right-box{
    padding-left: 40px;
}

.right-box-title{
    height: 30px;
    font-size: 26px;
    font-family: PingFangSC-Semibold;
    color: #ffb03c;
    line-height: 30px;
}

.right-box-desc{
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    color: #7c8285;
    line-height: 30px;
}
