.detail-container{

}
.news-detail-title{
    width: 100%;
    background: #fff;
    text-align: center;
    font-size: 26px;
    border-bottom: 1px solid #dddddd;
    height: 70px;
    line-height: 70px;
    font-family: PingFangSC-Regular;
    font-weight: bold;
    padding: 10px;
}

.news-detail-content{
    padding: 10px;
}
